<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="ApiOdlety" content="width=device-width, initial-scale=1.0">
    <title>ApiOdlety</title>
</head>
<body>
    <h1>ApiOdlety</h1>
    <h2>Vítejte na stránce pro vyhledávání letů</h2>
    <p>Na této stránce můžete vyhledávat lety podle počátečního letište specifikované časovým rozmezím.</p>
    <!-- tlačítko k přesměrování na formulář -->
    <a href="/api/formular"><button type=button>Formulář pro hledání odletů</button></a>

    
    
</body>
</html>